#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <logger name="org.springframework" level="ERROR" />
    <logger name="com.innotech.sample" level="DEBUG" />
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>